:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

textarea.blocklyHtmlInput {
  font-family: 'Consolas', 'Monaco', monospace !important;
  font-size: 14px !important;
  background-color: #1e1e1e !important;
  color: #fff !important;

  min-width: 500px !important;
  min-height: 300px !important;

  padding: 10px !important;
  line-height: 1.5 !important;
  border: 1px solid #555 !important;
  box-shadow: 0px 10px 40px rgba(0,0,0,0.5) !important;
}